@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');




.events{
    margin: 20px 80px;
    overflow: hidden;
  
  }

  .events .blank{
    height:70vh;
}
  
  .events .title{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  
  .events .title h1{
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.2px;
    color: #252B42;
    padding:10px 0;
    letter-spacing: 0.03em;
  }
  
  .events .title p{
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #525151;
    width:500px;
  
  }

  .events a{
    text-decoration: none;
  }

  .events .title h3{
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #525151;
    width:70%;
  
  }

  .events .icon{
    font-size: 70px;
    color:#252B42;

  }
  
  .events .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:50px 0;
  }
  
  .events .content .scard{
    width:220px;
    height:270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:10px 20px;
    box-shadow: 5px 5px 5px 5px rgb(204, 203, 203);
    transition-duration: 0.1s;
    margin-bottom: 30px;
  }
  
  .events .content .scard:hover{
    cursor: pointer;
    transform: scale(1.01);
  }
  
  .events .content .scard h3{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;  
    letter-spacing: 0.03em;
    color: #252B42;
  }
  
  .events .content .scard p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #737373;
  }
  
  .events .content .scard .line{
    border:2px solid #E74040;;
    width:40%;
    color:
  }
  
  .events .image img{
    height:13vh;
  }


  @media only screen and (max-width: 640px) {

    .events{
      padding:40px;
    }
    .events .content{
      padding:20px 0px;
    }


    .events .content .scard{
      width:100%;
      height:100%;
    }





  }