@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800;900&family=Mulish:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');


.registerpage {
    background-image: linear-gradient(
        rgba(90, 92, 156, 0.5),
        rgba(90, 92, 156, 0.5)
      ),
      url("/images/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    overflow: hidden;
    min-height: 80vh;
  }

  
.registercontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    padding-bottom: 90px;
    font-family: "Open Sans";
  }
  
  .registercontainer .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .registercontainer .title h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 36px;
    color: #f8f1f1;
    letter-spacing: 0.05em;
  }
  
  .programmetimings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 60%;
  }
  
  .programmetimings h3 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #f8f1f1;
    letter-spacing: 0.05em;
    margin: 20px;
  }
  
  .registerbutton button {
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    background-color: #948c8c;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #eeebeb;
    letter-spacing: 0.05em;
    box-shadow: 2px 2px 15px #948c8c;
  }

  .registerbutton button:hover{
    cursor: pointer;
  }
  
  .countdowncontainer {
    display: flex;
    justify-content: center;
  }
  
  .countdown {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    height: 80px;
    border-radius: 50px;
    background-color: #eeebeb;
    position: relative;
    bottom: 40px;
  }
  
  .registerpage .countdown {
    top: 40px;
  }
  
  .countdown h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #948c8c;
    padding: 5px 20px;
  }
  .countdown h3:nth-child(2) {
    border-left: 2px solid #beb8b8;
    border-right: 2px solid #beb8b8;
  }
  
.registrationmodal{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(148, 140, 140, 0.5);
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  
}

.registrationmodal .modalcontainer{
  font-family:Inter;
  padding:30px;
  background-color: white;
  color:rgb(70, 67, 67);
  width:80%;
  height:80vh;
  overflow-y: scroll;
  
}

.registrationmodal .modalcontainer h2{
  font-size: 18px;
  letter-spacing: 0.03em;;
}

.registrationmodal .modalcontainer h3{
  font-size: 15px;
  letter-spacing: 0.03em;;
}

.registrationmodal .modalcontainer .input_field{
  padding:10px 0;
}


.registrationmodal .modalcontainer .input_field input{
  padding:5px 10px;
  border:1px solid rgb(182, 175, 175);
  border-radius: 10px;
  font-family: Inter;
  margin-top: 5px;
}


.registrationmodal button{
  border:none;
  background-color: #E44C4C;
  padding:10px 15px;
  border-radius: 10px;
  width:200px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  color:white;
  letter-spacing: 0.04em;
  margin-top: 20px;
}

.registrationmodal button:hover{
  cursor: pointer;
}

.registrationmodal .cross{
  position: absolute;
  top:30px;
  right:30px;
  color:white;
}

.registrationmodal .cross:hover{
  cursor: pointer;
}

.form p{
  padding:40px 0;
  letter-spacing: 0.04em;
  color:#948c8c;
  font-size: 14px;
}

.form textarea{
  padding:5px 10px;
  border:1px solid rgb(182, 175, 175);
  border-radius: 10px;
  font-family: Inter;
  margin-top: 5px;
  width:400px;
  height:100px;
}