.sponsors-container {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.sponsor-category {
  text-align: center;
  margin-bottom: 2rem;
}

.sponsors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.sponsor {
  margin: 1rem;
}

.sponsor img {
  border-radius: 8px; /* Add border-radius for a rounded appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  padding: 1rem;
}

h2 {
  font-size: 1.5rem; /* Increase font size for section headings */
  color: #333; /* Set a dark color for section headings */
}

p {
  font-size: 1rem;
  color: #666; /* Set a slightly darker color for sponsor names */
}

.powered-by {
  display: flex;
  flex-direction: column;
  img {
    margin: 0 auto;
  }
  text-align: center;
}
